<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>申请记录</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a target="_top" th:href="@{/index}">首页</a>
            </span>
    <a class="layui-btn layui-btn-small" onclick="location.reload()"
       style="line-height:1.6em;margin-top:3px;float:right" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" id="vmApply">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>教学楼</th>
                            <th>教室类型</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>申请人</th>
                            <th>申请理由</th>
                            <th>申请状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="applyVO,i in pageInfo.list">
                            <td v-text="i+1"></td>
                            <td v-text="applyVO.classroom.name"></td>
                            <td v-if="applyVO.classroom.type==1">教室</td>
                            <td v-if="applyVO.classroom.type==2">实验室</td>
                            <td v-text="applyVO.apply.beginTime"></td>
                            <td v-text="applyVO.apply.endTime"></td>
                            <td v-text="applyVO.user.name"></td>
                            <td v-text="applyVO.apply.reason"></td>
                            <td>
                                <span class="layui-btn layui-btn-warm" v-if="applyVO.apply.status==0">审批中</span>
                                <span class="layui-btn layui-btn-success" v-if="applyVO.apply.status==1">审批通过</span>
                                <span class="layui-btn layui-btn-danger" v-if="applyVO.apply.status==2">不通过</span>
                            </td>
                            <td class="td-manage">
                                <button @click="deleteApply(applyVO.applyId, applyVO.apply.beginTime)"
                                        class="layui-btn layui-btn-danger"
                                        id="deleteApply">
                                    <i class="layui-icon"></i>删除记录
                                </button>
                            </td>
                        </tr>
                        <tr v-if="pageInfo.total == 0">
                            <td colspan="9" style="text-align: center">暂无申请历史！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body" v-if="pageInfo.total != 0">
                    <div class="page">
                        <div>
                            <a @click="getPage(pageInfo.firstPage)" class="prev" href="javascript:void(0)"
                               v-if="!pageInfo.isFirstPage">
                                首页
                            </a>
                            <a @click="getPage(pageInfo.prePage)" class="prev" href="javascript:void(0)"
                               v-if="pageInfo.hasPreviousPage">
                                上一页
                            </a>
                            <span @click="getPage(pageInfo.pageNum)" class="current">{{pageInfo.pageNum}} / {{pageInfo.pages}}</span>
                            <a @click="getPage(pageInfo.nextPage)" class="next" href="javascript:void(0)"
                               v-if="pageInfo.hasNextPage">
                                下一页
                            </a>
                            <a @click="getPage(pageInfo.lastPage)" class="prev" href="javascript:void(0)"
                               v-if="!pageInfo.isLastPage">
                                末页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    vm = new Vue({
        el: "#vmApply",
        data: {
            pageInfo: {}
        },
        methods: {
            getPage: function (pageNum) {
                var _this = this;
                var url = "/apply/queryApplyHistoryByUser?pageNum=" + pageNum + "&pageSize=" + 2;

                $.getJSON(url, function (data) {
                    _this.pageInfo = data;
                });
            },
            deleteApply: function (applyId, beginTime) {
                var _this = this;
                var startTime = new Date(beginTime);
                var nowTime = new Date();

                var USER_ROLE = sessionStorage.getItem("USER_ROLE");
                //管理员可以任意撤销
                if (USER_ROLE > 1 || startTime.getTime() > nowTime.getTime()) {
                    layer.confirm('确认要删除申请记录吗？', {icon: 3}, function () {
                        $.ajax({
                            url: '/apply/deleteApply',
                            type: "delete",
                            data: {
                                "applyId": applyId
                            },
                            dataType: "json",
                            success: function (result) {

                                if (result.code === 200) {
                                    layer.msg("删除成功！", {icon: 6});
                                    //刷新
                                    _this.getPage(1);
                                } else {
                                    layer.alert(result.msg, {icon: 5});
                                }

                            }
                        });

                    });

                } else {
                    layer.alert("已超过借用时间！");
                }

            }
        },
        created: function () {
            this.getPage(1);
        }
    });


</script>
</html>